<div class="calculator-container">
  <div class="operation-area">
      <div class="input-area">
      <textarea #expressionInput class="expression-input" [(ngModel)]="inputText" (ngModelChange)="onInputChange()"
        (keydown)="onKeyDown($event)" placeholder="Type here..">
      </textarea>
      </div>

      <div class="results-area" *ngIf="results.length >= 0">
      <div *ngFor="let result of results" class="calculation-result" [class.error]="result.isError"
        [class.empty-space]="result.isEmptySpace">
        <div class="result">{{ result.result }}</div>
      </div>
      </div>
  </div>
</div>